.canvas-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.canvas-scrollbar::-webkit-scrollbar-track {
  background: white;
}

.canvas-scrollbar::-webkit-scrollbar-thumb {
  background: #9767ff;
  border-radius: 20px;
}
