.btn {
  @apply bg-blue-500 text-white px-4 py-2 rounded-md cursor-pointer;
}

.canvas {
  width: 600px; /* Adjust the canvas size as needed */
  height: 400px;
  border: 1px solid #ccc;
}

.component {
  position: absolute;
  cursor: pointer;
}


.canvas-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.canvas-scrollbar::-webkit-scrollbar-track {
  background: white;
}

.canvas-scrollbar::-webkit-scrollbar-thumb {
  background: #9767ff;
  border-radius: 20px;
}
